* {
    margin: 0%;
    padding: 0%;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), rgba(0, 0, 0, 0.638)), url(2023-12-29-13-02-58.png);
    background-position: center;
    background-size: cover;
}

.navbar {
    align-items: right;
    margin-top: -45%;
    margin-left: 0%;
    text-decoration: none;

}

.navbar {
    margin-top: -47%;
    background-color: rgba(0, 0, 0, 0.533);
    line-height: 30px;
    height: 70px;
    width: 100%;

}

.Icon {
    color: white;
    position: absolute;
    margin-top: 5%;

}

.logo {
    font-size: 30px;
    font-family: Audiowide;
    display: inline-block;
    margin-left: 5%;
    margin-top: 1.5%;
    color: white;

}

.logo span {
    color: rgb(106, 181, 187);
}

.navbar ul {
    color: white;
    text-align: right;
    margin-right: 15%;
    margin-top: -4%;

}

.navbar li {
    display: inline-block;

    padding: 20px 20px;
    color: white;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.navbar ul li a {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: rgba(106, 182, 187, 0.53);
    border-radius: 5px;
    padding: 5px 5px;
}

.right {
    float: right;
    color: white;
    margin-top: -5.5%;
    padding: 14px 14px;
}

.right i {
    padding: 14px 14px;
    font-size: larger;
}

.right i:hover {
    color: rgba(124, 124, 222, 0.627);
    ;
}

.content {
    color: solid white;
}

.content h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 90px;
    margin-top: 9%;
    margin-left: 5%;
    text-shadow: 23px 15px 10px black;
    animation-delay: 1.2s;


}

.content h1 span {
    color: rgb(106, 181, 187);
}

.sidebox {
    height: 35vh;
    width: 39.9%;
    background-color: rgba(255, 255, 255, 0.456);
    margin-left: 60%;
    animation-delay: 1s;

}

.sidebox p {
    color: rgb(0, 0, 0);
    font-family: calibri;
    font-size: 22px;
    margin-left: 5%;
    font-weight: 400;
    padding-top: 5%;
    animation-delay: 10s;

}

.content h1.anim {
    opacity: 0;
    transform: translateY(70px);
    animation: moveup 2s linear infinite forwards;

}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}

p.anim {
    opacity: 0;
    transform: translateX(70px);
    animation: moveleft 1.8s ease-in-out forwards;


}

@keyframes moveleft {
    100% {
        opacity: 1;
        transform: translateX(10px);
    }

}

.next {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.638), rgba(0, 0, 0, 0.638)), url(2024-01-11-01-24-59.png);
    background-position: center;
    background-size: cover;
    margin-top: 0.7%;


}

.next h1 {
    color: white;
    font-family: calibri;
    font-size: 80px;
    padding-top: 4%;
    margin-left: 7%;
    animation-delay: 0.8s;
}

.next h1 span {
    color: rgb(67, 200, 210);
}

.next h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-top: 2%;
    animation-delay: 0.2s;
    margin-left: 9.5%;
    font-family: calibri;
}

.anim2 {
    opacity: 0;
    transform: translateX(70px);
    animation: side 1.9s infinite both;
}

@keyframes side {
    100% {
        opacity: 1;
        transform: translateX(30px)
    }
}

.body ul {
    margin-top: -20%;
    list-style: none;
    cursor: pointer;
}

.body li {
    color: white;
    font-size: 20px;
    margin-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0%;
    margin-left: 10%;
    justify-content: space-between;
    text-decoration: none;
}

.sia ul {
    margin-top: -11%;
    list-style: none;
    display: block;
    cursor: pointer;
}

.sia li {
    color: white;
    font-size: 20px;
    margin-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0%;
    margin-left: 40%;
    justify-content: space-between;
    text-decoration: none;
}

.last ul {
    margin-top: -11%;
    list-style: none;
    display: block;
    cursor: pointer;
}

.last li {
    color: white;
    font-size: 20px;
    margin-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0%;
    margin-left: 70%;
    justify-content: space-between;
    text-decoration: none;
}

.process {
    height: 100vh;
    width: 100%;
}

.process i {
    font-size: 90px;
    margin-top: 18%;
    margin-left: 8%;
}

.process h3 {
    font-size: 25px;
    font-family: calibri;
    color: black;
    margin-left: 4%;
    margin-top: 2%;


}

.process p {
    font-size: 20px;
    color: rgb(55, 55, 55);
    margin-left: 4%;
    margin-top: 1%;
    margin-right: 75%;

}

.aaru {
    font-size: 90px;
    margin-top: -30%;
    margin-left: 38%;
    padding-top: 0%;


}

.aaru h3 {
    font-size: 25px;
    font-family: calibri;
    color: black;
    margin-left: -16%;
    margin-top: 1%;


}

.aaru p {
    font-size: 20px;
    color: rgb(55, 55, 55);
    margin-left: -16%;
    margin-top: 1%;
    margin-right: 75%;

}

.digi {
    font-size: 90px;
    margin-top: -22%;
    margin-left: 63%;
    padding-top: 0%;


}

.digi h3 {
    font-size: 25px;
    font-family: calibri;
    color: black;
    margin-left: -20%;
    margin-top: 1%;


}

.digi p {
    font-size: 20px;
    color: rgb(55, 55, 55);
    margin-left: -20%;
    margin-top: 2%;
    margin-right: 69%;

}

.sh {
    font-size: 90px;
    margin-top: -21.3%;
    margin-left: 84%;
    padding-top: 0%;


}

.sh h3 {
    font-size: 25px;
    font-family: calibri;
    color: black;
    margin-left: -45%;
    margin-top: 1%;


}

.sh p {
    font-size: 20px;
    color: rgb(55, 55, 55);
    margin-left: -45%;
    margin-top: 2%;
    margin-right: 0%;

}

.get {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.474), rgba(0, 0, 0, 0.474)), url(2024-01-13-23-49-40.png);
    background-position: center;
    background-size: cover;
}

.get h1 {
    font-family: sans-serif;
    font-size: 100px;
    color: rgb(1, 29, 24);
    margin-left: 8%;
    margin-top: 10%;
    padding-top: 3%;
}

.get h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-left: 8.5%;
    margin-top: 2%;
    color: rgb(6, 42, 36);
}

.project h1 {
    font-family: sans-serif;
    font-size: 60px;
    color: white;
    align-items: center;
    margin-left: 25%;
    margin-top: 3%;

    animation-delay: 1.2s;
}

.hiv {
    opacity: 0;
    transform: scaleX(80px);
    animation: sidewards 1.5s linear infinite forwards;


}

@keyframes sidewards {
    100% {
        opacity: 1;
        transform: scaleX(10px);
    }

}
.project h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter ;
    color: white;
    margin-left: 40%;
    margin-top: 2.5%;

}
.project button{
    padding: 19px 19px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 10px;
   border: 2px solid rgb(255, 255, 255);
   background: transparent;
   margin-left: 45%;
   margin-top: 2%;
   color: white;
   font-size: 15px;

}
.project button:hover{
    background-color: white;
    color: black;
}
.project ul{
    list-style: none;
    margin-left: 3%;
    padding-left: 10px;
    margin-top: 6%;

}
.project li{
    float: left;
    padding-left: 30px;
    font-size: 25px;

}

.project i{
   cursor: pointer;
    color: white;
}
.project i:hover{
    color: rgb(37, 186, 164);
}
.project ul span{
    float: right;
    color: white;
    margin-right: 3%;
    cursor: pointer;
}
.project li span {
    font-size: 5px;
}
